.vs
/TCPClient/.vs
/TCPListener/.vs
TCPClient/.vs/TCPClient/v17/DocumentLayout.backup.json
TCPClient/.vs/TCPClient/v17/.suo
TCPClient/.vs/TCPClient/v17/DocumentLayout.json
TCPListener/.vs/TCPListener/v17/DocumentLayout.backup.json
/TCPListener/.vs
